<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hof</title>
    <link rel="stylesheet" href="./my_reset.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/my_reset.css" />
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <div class="wrap">
      <header class="hd">
        <h1><img src="/public/img/logo.png" alt="logo" /></h1>
      </header>
      <section class="sec1">
        <div class="mainImg">
          <img src="/public/img/mainBanner.png" alt="mainImg" />
        </div>
        <div class="openTime">
          <div class="openT">
            <p>OPEN</p>
            <p>17:00</p>
          </div>
          <div class="closeT">
            <p>CLOSE</p>
            <p>24:00</p>
          </div>
        </div>
        <div class="menu">
          <a href="#none"></a>
          <div class="innerText">
            <p>MENU</p>
            <p>메뉴판 보러가기</p>
          </div>
          <div class="icons">
            <i class="fa-solid fas fa-utensils"></i>
          </div>
        </div>
        <div class="review">
          <a href="/list"></a>
          <div class="innerText">
            <p>REVIEW</p>
            <p>방문후기 보러가기</p>
          </div>
          <div class="icons">
            <i class="far fa-comments"></i>
          </div>
        </div>
        <div class="tour">
          <a href="#none"></a>
          <div class="innerText">
            <p>NEARBY TOUR</p>
            <p>근처관광지 보러가기</p>
          </div>
          <div class="icons">
            <i class="fa-solid fa-location-dot"></i>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
