<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HofWrite</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/my_reset.css" />
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/write.css" />
  </head>
  <body>
    <div class="wrap">
      <%- include('header.ejs') %>
      <section class="sec3 mw">
        <form action="/add" method="post">
          <ul>
            <li>
              <p>
                <label>
                  <input
                    type="text"
                    name="title"
                    placeholder="제목을 입력하세요."
                  />
                </label>
              </p>
              <p>
                <label>
                  <textarea
                    name="content"
                    placeholder="내용을 입력하세요."
                    rows="10"
                    cols="39"
                  ></textarea>
                </label>
              </p>
              <p class="pwd">
                <label>
                  비밀번호
                  <input name="pw" type="password" />
                </label>
              </p>
              <input id="today" name="date" type="text" value="" hidden />
              <input type="submit" value="작성 완료" />
            </li>
          </ul>
        </form>
      </section>
    </div>

    <script>
      const today = document.querySelector("#today");
      const now = new Date();
      let year = now.getFullYear();
      let month = ("0" + (now.getMonth() + 1)).slice(-2);
      let day = ("0" + now.getDate()).slice(-2);
      let dayString = year + "-" + month + "-" + day;

      today.value = dayString;
    </script>
  </body>
</html>
